<ion-view title="Map">
    <ion-content scroll="false" has-header="true">
        <div id="mapWrapper" ng-controller="MapCtrl">
            <leaflet data-tap-disabled="true"
                     defaults="map.defaults"
                     center="map.center"
                     markers="map.markers"
                     layers="map.layers"
                     events="map.events"
                     watch-markers="false">
            </leaflet>
            <div id="mapOverlay">
                <div>{{message}}</div>
                <button ng-click="setPosition()" id="updateLocationBtn" class="button button-block button-positive">
                    {{buttonMessage}}
                </button>
            </div>

        </div>
    </ion-content>
</ion-view>
