<ion-view title="Map">
    <ion-content scroll="false" has-header="true">
        <div id="mapWrapper" ng-controller="MapCtrl">
            <leaflet data-tap-disabled="true"
                     defaults="map.defaults"
                     center="map.center"
                     markers="map.markers"
                     layers="map.layers"
                     events="map.events"
                     watch-markers="false">
            </leaflet>
            <div class="bar bar-footer">
                <div  class="col-20">
                    <label class="checkbox">
                        <input ng-change="filterMarkers()" ng-model="showStrangers" type="checkbox">
                        <i class="icon ion-android-friends" ></i>
                    </label>

                </div>
                <div class="col-20">
                    <label class="checkbox">
                        <input ng-change="filterMarkers()" ng-model="showFriends" type="checkbox">
                    </label>
                    <i class="icon ion-android-friends" ></i>
                </div>
                <div  class="col-20">
                    <label class="checkbox">
                        <input ng-change="filterMarkers()" ng-model="showSelf" type="checkbox">
                    </label>
                    <i class="icon ion-android-friends" ></i>
                </div>
                <button ng-click="setPosition()" id="updateLocationBtn" class="col-40 button button-positive">
                    {{buttonMessage}}
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>
