
<ion-view title="{{user.firstName}}">
  <ion-content has-header="true" padding="true">
      <img ng-src="{{user.profilePicture.url}}" >
      <div class="list">

          <div ng-repeat="message in messages">
              <div class="item" ng-if="message.me" style="background-color:#dde1f5">
                  <h2>Me</h2>
                  <p>{{message.message}}</p>
              </div>
              <div class="item"  ng-if="!message.me" style="text-align:right">
                  <h2>{{user.name}}</h2>
                  <p>{{message.message}}</p>
              </div>
          </div>
      </div>
  </ion-content>
</ion-view>
