<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>
    <link href="assets/client-app/lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="assets/client-app/css/style.css" rel="stylesheet">
    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="assets/client-app/css/ionic.app.css" rel="stylesheet">
    -->
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" />

    <!-- ionic/angularjs js -->
    <script src="assets/client-app/lib/ionic/js/ionic.bundle.js"></script>
    <script src="assets/client-app/lib/ionic/js/angular/angular-leaflet-directive.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- facebook connect-->

    <!--<script src="assets/client-app/lib/facebook-connect/cdv-plugin-fb-connect.js"></script>
    <script src="assets/client-app/lib/facebook-connect/facebook-js-sdk.js"></script> -->
    <script src="assets/client-app/lib/facebook-connect/angular-easyfb.js"></script>

    <!--http auth -->
    <script src="assets/client-app/lib/angular-modules/http-auth-interceptor.js"></script>

    <!-- Leaflet -->
    <script src="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js"></script>

    <!-- your app's js -->
    <script src="assets/client-app/js/app.js"></script>
    <script src="assets/client-app/js/controllers/controllers.js"></script>
    <script src="assets/client-app/js/services/services.js"></script>
    <script src="assets/client-app/js/directives/directives.js"></script>
</head>
<body ng-app="travel" animation="slide-left-right-ios7">
    <div ng-controller="MainCtrl">
	    <!--
	      The nav bar that will be updated as we navigate between views.
	    -->
	    <ion-nav-bar class="bar-stable nav-title-slide-ios7">
	        <ion-nav-back-button class="button-icon icon ion-chevron-left">
	            Back
	        </ion-nav-back-button>
	    </ion-nav-bar>
	    <!--
	      The views will be rendered in the <ion-nav-view> directive below
	      Templates are in the /templates folder (but you could also
	      have templates inline in this html file if you'd like).
	    -->
	    <ion-nav-view></ion-nav-view>
    </div>
</body>
</html>
