.angular-leaflet-map {
  height: 100%;
}
#mapWrapper{
    height:100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#mapOverlay{
	text-align: center;
	width: 100%;
    position: absolute;
    bottom: 20px;
    z-index: 9999;
}

.leaflet-marker-icon{
	border:2px solid #FFF;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.self-marker{
    background-color: #FF0000;
    border: none;
    opacity: .75;
}

.user-marker-male{
    border-color: deeppink;
}

.user-marker-female{
    border-color: royalblue;
}
